{$DOMAIN} {
    @ws_connection {
        header Connection *Upgrade*
        header Upgrade    websocket
    }

    reverse_proxy {$APP_URL} {
        lb_policy random
        # Sticky sessions for Socket.io
        lb_consistent
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
    }

    encode gzip

    log {
        output file /data/access.log
    }
}
